.feedback-section {
    .feedback-page-name {
        h2 {
            text-align: center;
            font-size: 36px;
            font-weight: 700;
            background: linear-gradient(-96deg, #fd3d6b 0%, #fd7863 98%, #f3dfe0 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

          .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}