header {
    .headerinfo {
        background-color: #242424;
    }

    span {
        font-size: 14px;
        color: #b5b5b5;
        padding: 15px;
    }

    .headernavigate {
        .headerlogo {
            a {
                display: flex;
                align-items: center;
            }
        }

        nav {
            .navul {
                li {
                    padding: 35px 0;

                    a {
                        margin: 0 0 0 40px;
                        color: #4c4c4c;
                        font-weight: 500;
                        font-size: 14px;
                        display: flex;
                        transition: 0.3s ease;

                        &:hover {
                            color: #FB5D5D;
                        }

                        i {
                            font-size: 10px;
                            margin: 4px 0 0 6px;
                        }
                    }
                }
            }

            .firstli {
                &:hover {
                    .dropdown1 {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(50px);
                        z-index: 100;
                        background-color: #fff;
                    }

                }

                .dropdown1 {
                    top: 40px;
                    padding: 0;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 3px 0px;
                    transition: 0.5s ease;
                    opacity: 0;
                    visibility: hidden;

                    li {
                        padding: 10px 145px 10px 10px;
                        margin: 0;
                        display: flex;
                        justify-content: start;

                        &:first-child {
                            border-bottom: 1px solid rgb(223, 223, 223);
                        }

                        a {
                            &:hover {
                                transform: translateX(5px);
                                transition: 0.3s ease;
                            }

                            margin: 0;
                        }
                    }
                }
            }

            .second-li {
                &:hover {
                    .dropdown2 {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(50px);
                        z-index: 1000;
                        background-color: #fff;
                    }

                }

                .dropdown2 {
                    top: 40px;
                    padding-left: 10px;
                    padding-right: 10px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 3px 0px;
                    transition: 0.5s ease;
                    opacity: 0;
                    visibility: hidden;
                    width: 1130px;
                    margin-left: -290px;


                }

                .shop-col {

                    padding-top: -30px !important;

                    .shop-section-name {
                        padding-top: -30px !important;

                        a {

                            font-size: 16px;
                            font-weight: 500;
                            display: block;
                            border-bottom: 1px solid #ebebeb;
                            margin-bottom: 15px;
                            padding-bottom: 5px;
                        }
                    }

                    .shop-list {
                        margin-top: 10px;
                    }

                    width: 20%;
                }
            }


        }
    }

    .headerextrainfo {
        display: flex;
        align-items: center;

        a {
            &:first-child {
                color: #FB5D5D;
                font-size: 16px;
                font-weight: 600;
            }

            margin-right: 17px;
            color: #474747;
            transition: 0.3s ease;

            span {
                padding: 5px;
                border-radius: 20px;
                background-color: #FB5D5D;
            }

            i {
                font-size: 23px;
            }

            &:hover {
                color: #FB5D5D;
            }
        }
    }
}

.navigation {
    bottom: 112px;
    right: 70px;
    z-index: 1000;

    .scroll-up {
        position: fixed;
    }

    a {
        padding: 17px;
        background-color: #FB5D5D;
        border-radius: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease;
        &:hover {
            box-shadow: 0 5px 15px 0 rgba(153, 63, 107, 0.5);
            transform: translateY(-2px);
        }
        i {
            color: white;
            font-size: 15px;
        }
    }
}