.shop-section {
    padding: 100px 0 100px 0;

    .container {
        background-image: url(https://htmldemo.net/jesco/jesco/assets/images/deal-img/deal-bg.jpg);
        height: 440px;

        .counter-side {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .section-name {
                font-size: 16px;
                color: #fb5d5d;
                font-weight: 600;
                margin-bottom: 18px;
            }

            h3 {
                font-size: 36px;
                color: #464444;
                margin-bottom: 15px;
            }

            .count-down {

                .number {
                    font-size: 36px;
                    color: #303030;
                    font-weight: 700;
                }

                .dots {
                    font-size: 33px;
                    color: #303030;
                    font-weight: 700;
                }

                p {
                    font-size: 14px;
                    color: #303030;
                }
            }

            button {
                margin-top: 20px;
                padding: 19px 45px;
                border-radius: 50px;
                border: none;
                outline: none;
                background: linear-gradient(-155deg, #fd3d6b 0%, #fd7863 98%, #f3dfe0 100%);
                color: #fff;
                font-weight: 600;
                font-size: 16px;
                transition: 0.5s ease;

                i {
                    font-size: 15px;
                }

                &:hover {
                    transform: translateY(-1px);
                    box-shadow: 0 5px 15px 0 rgba(153, 63, 107, 0.5);
                }
            }
        }

        .img-side {
            img {
                margin-top: 65px;
            }
        }
    }
}